NEXT_PUBLIC_BASE_URL=http://localhost:3000
# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.


DATABASE_URL=postgres://postgres:postgres@localhost:5432/db

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=secret

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
AUTH_DISCORD_ID="discord_id"
AUTH_DISCORD_SECRET="discord_secret"

# In case you're using the Auth Proxy (apps/auth-proxy)
# AUTH_REDIRECT_PROXY_URL='https://auth.your-server.com/r'

GOOGLE_CLIENT_ID="google_id"
GOOGLE_CLIENT_SECRET="google_client_id"

MESSAGING_SERVICE_URL=https://localhost:5002
MESSAGING_SECRET_KEY=messaging_secret

# AWS
AWS_S3_REGION=aws_region
AWS_S3_ACCESS_KEY_ID=aws_access_key_id
AWS_S3_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_S3_BUCKET_NAME=bucket_name

INVITATION_LINK_SECRET=invitation_link_secret

NEXT_PUBLIC_LIBRARY_SERVICE_URL=http://localhost:5001
NEXT_PUBLIC_PROSPECT_SERVICE_URL=http://localhost:5003