@media (min-width: 1024px) {
  .theme-scaled {
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.2rem;
    --sidebar-width: calc(var(--spacing) * 64);
  }
}

.theme-scaled [data-slot="select-trigger"],
.theme-scaled [data-slot="toggle-group-item"] {
  --spacing: 0.2rem;
}

.theme-scaled [data-slot="card"] {
  border-radius: var(--radius);
  padding-block: calc(var(--spacing) * 4);
  gap: calc(var(--spacing) * 2);
}

.theme-scaled [data-slot="card"].pb-0 {
  padding-bottom: 0;
}
